{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
      
    {%block content %}
    <h2>Loremmmmu ipsuuuum koko bk,fwhfyeri  mkoefm bnuiefe mnirut ,rfeorui</h2>
    {%endblock%}