<!-- {{ fontawesome_html() }} -->
{% macro displayPitches(pitches) %}

{% for pitch in pitches %}
   {% if pitch.user.profile_pic_path %}
    <img src="{{ pitch.user.profile_pic_path }}" alt="Display image" height='50'>
    <p>{{pitch.user.username}}</p>

  <h4>{{pitch.content}}</h4>
  <button>Upvote</button>
  <button>Downvote</button>
  {%else %}
   <img src="static/photos/no_dp.png" alt="">
   <p>{{pitch.user.username}}</p>
   <h4>{{pitch.content}}</h4>
  <button>Upvote</button>
  <button>Downvote</button>
  <a href="/new/commemt/{{pitch.id}}">Add comment</a>
  {%endif%}

  {%endfor%}
  {%endmacro%}